# Timezone
TZ=Europe/Vienna

# PUID & PGID
PUID=1000
PGID=1000

# Paths
CONFIG_DIR=$PWD/.config
DATA_DIR=$PWD/data

# Network
HOMELAB_DEMO_NET_PORTION=192.168.10

# Versions
BENTOPDF_VER=2.8.2
JELLYFIN_VER=10.11.8
